# dependencies
node_modules/

# build outputs
dist/
.next/
out/
build/
*.compiled.css
packages/sdk/src/compiled.css

# turbo
.turbo/

# testing
coverage/

# env
.env*

# python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
.venv/
.mypy_cache/
.pytest_cache/
.ruff_cache/

# misc
.DS_Store
*.pem
*.log

# typescript
*.tsbuildinfo

# IDE
.idea/
.vscode/

# vercel
.vercel
