# dependencies
node_modules/

# build outputs
dist/
.next/
out/
build/

# turbo
.turbo/

# testing
coverage/

# env
.env*

# misc
.DS_Store
*.pem
*.log

# typescript
*.tsbuildinfo

# IDE
.idea/
.vscode/

# vercel
.vercel
